<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #2B542C;"></span>
		<span class="sg-label">#2B542C</span>
    </li>
    <li>
		<span class="sg-swatch" style="background: #278400;"></span>
		<span class="sg-label">#278400</span>
    </li>
    <li>
		<span class="sg-swatch" style="background: #D8EECA"></span>
		<span class="sg-label">#D8EECA</span>
    </li>
</ul>    