<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #923534;"></span>
		<span class="sg-label">#923534</span>
    </li>
    <li>
		<span class="sg-swatch" style="background: #D3080C;"></span>
		<span class="sg-label">#D3080C</span>
    </li>
    <li>
		<span class="sg-swatch" style="background: #F3E9E8"></span>
		<span class="sg-label">#F3E9E8</span>
    </li>
</ul>    